.input__dash {
    background: linear-gradient(134.17deg, #eef1f5 4.98%, #e6e9ef 94.88%);
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.75), 
    inset 5px 5px 10px rgba(166, 180, 200, 0.75);
}

.arrow {
  background: url(../../Assets/Arrow.svg) no-repeat center;
}

.btnTextSmall {
  font-size: 10px;
}